body {
  padding-top: 6rem;
  
}

.tile-image {
  max-width: 150px;
  
}

.main-title {
  font-size: 3.5rem;
  font-weight: 500;
  color: black;
}

.tile-text {
  font-weight: 500;
  color: black;
}
.card {
  width: 18rem;
}
.card-tile {
  border: solid 1px black;
}

@media (max-width:992px) {
  body {
    padding-top: 12rem;
    padding-bottom:2rem;
  }

  

  .main-title {
    font-size: 2rem;
  }
}

@media (max-width:576px) {
  .main-title {
    font-size: 1.8rem;
  }
  .card {
    width: 12rem;
  }
  .tile-image {
    max-width: 100px;
    
  }
}